%footer.footer
  .container
    %a{:href => "#"}
      %i.fa.fa-twitch.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-facebook.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-twitter.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-youtube-play.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-rss.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-vine.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-flickr.fa-3x.fa-fw
    %a{:href => "#"}
      %i.fa.fa-linkedin.fa-3x.fa-fw

