%h4{:style => "font-family: 'Indie Flower', cursive; font-size: 4em; color: #111"} Editar Producto
= render 'form', store: @product
%br
%button.btn.be-red.white.right-edit.indie-flower= link_to 'REGRESAR', admin_products_path