/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 img{
    width: 100px;
    height: 100px;
}

.table thead .sticky th{
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    background: #FFF;
    border-bottom: inherit !important;
}
.sticky{
	border-color: inherit !important;
	text-align: center;
	
}
tbody{
	text-align: center;
	
}

.table td, .table th{
	vertical-align: ;
}

.font-size{
    font-size: 0.8em;
    text-align: justify;
}

html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}

.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1em;
	padding: 10px 12px;
}

.red{
	color: #E74C3C !important;
}

.col-md{
	list-style: none;
}

#logo{
	font-size: 2em;
}

.no-margin{
	margin: 0px ;
}


.be-red{
	background-color: #1c8dd27a;
}

.white{
	color: #ECF0F1;
	
}

.large-padding{
	padding: 10px 7px;
}

.field,.top-space,.actions{
	margin-top: 1em;
}

.text-left{
	text-align: left;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 60%;
	display: block;
	padding: 10px 0px;
	font-size: 5em;
}

.right-create {
	position: relative;
	left: 25%;
	top: -38px;
}

.right-edit{
	position: relative;
	left: 25%;
	top: -62px;
}

.right-create-st{
	position: relative;
	left: 25%;
	top: -62px;
}

}