/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img .set-up{
    width: 100px;
    height: 100px;
}

img{
	width: 100px;
    height: 100px;
}

.aumen{
	font-size: 5em;
	font-family: 'Indie Flower', cursive;
	
}

.table thead .sticky th{
    position: -webkit-sticky;
    position: sticky;
	top: -3px;
	z-index: 999;
    background: #FFF;
    border-bottom: inherit !important
}
.sticky{
	border-color: inherit !important;
	text-align: center;
	
	
}
tbody{
	text-align: middle;
}

.table td, .table th{
	vertical-align: middle !important;

}

.font-size{
    font-size: 0.8em;
    text-align: justify;
}

html,body{
	margin: 0px;
	font-family: 'Indie Flower', cursive;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}


.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1em;
	padding: 10px 12px;
}

a{
	width: 100px;
	height: 100px;
}

form_with{
	display: inline
}
.cardef{
	line-height: 1;
}

.red{
	color: #E74C3C !important;
}

.col-md{
	list-style: none;
}

#logo{
	font-size: 2em;
}

.no-margin{
	margin: 0px ;
}


.be-red{
	background-color: #111;
}

.white{
	color: #fff;
	
}

.large-padding{
	padding: 10px 7px;
}

.field,.top-space,.actions{
	margin-top: 1em;
}

.text-left{
	text-align: left !important;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 60%;
	display: block;
	padding: 10px 0px;
	font-size: 5em;
}

.right-create {
	position: relative;
	left: 25%;
	top: -38px;
}

.right-edit{
	position: relative;
	left: 25%;
	top: -62px;
}

.right-create-st{
	position: relative;
	left: 25%;
	top: -62px;
}

nav ul {

	margin-top: 14px !important;
	margin-bottom: 14px !important;

}

nav ul li img {
	height: 65px;
}

.but{
	position: relative;
	top: 0px;
}

.anchur{
	width: 100px;
	text-align: center;
}

tr{
	text-align: left;
}

.currency{
	font-size: 1.7em;
}

.text-center{
	text-align: center;
}
.log{
	position: relative;
	right: -30px;
}



html {
	position: relative;
	min-height: 100%;
  }
  
  body {
	margin-bottom: 150px;
  }
  
  .footer {
	position: absolute;
	bottom: -180px;
	width: 100%;
	height: 150px;
	background-color: #111;
	text-align: center;
  }
  
  .container{
	margin-top: 50px;
	color: #fff;
	width: 100%;
  }
  
  .fa-twitter {
	  color: #4099FF;
  }
  
  .fa-facebook {
	  color: #3B5998;
  }
  
  .fa-youtube-play {
	  color: #e52d27;
  }
  
  .fa-rss {
	  color: #FF6600;
  }
  
  .fa-vine {
	  color: #00a478;
  }
  
  .fa-flickr {
	  color: #ff0084;
  }
  
  .fa-twitch {
	  color: #6441A5;
  }
  
  .fa-linkedin {
	  color: #007bb6;
  }
  
  .fa {
	  opacity: 0.7;
	  transition: 1s;
	  -webkit-transition: 1s;
  }
  
  .fa:hover{
	  opacity: 1;
	  transition: 1s;
	  -webkit-transition: 1s;
  }

  body {
	background-color: #fff;
	color: #333;
	margin: 33px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
  }
  
  p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
  }
  
  pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
  }
  
  a {
	color: #000;
  
	&:visited {
	  color: #666;
	}
  
	&:hover {
	  color: #fff;
	  background-color: #000;
	}
  }
  
  th {
	padding-bottom: 5px;
  }
  
  td {
	padding: 0 5px 7px;
  }
  
  div {
	&.field, &.actions {
	  margin-bottom: 10px;
	}
  }
  
  #notice {
	color: green;
  }
  
  .field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
  }
  
  #error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px 7px 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
  
	h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px -7px 0;
	  background-color: #c00;
	  color: #fff;
	}
  
	ul li {
	  font-size: 12px;
	  list-style: square;
	}
  }
  
  label {
	display: block;
  }