// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img{
    width: 100px;
    height: 100px;
}

.table thead .sticky th{
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    background: #FFF;
    border-bottom: inherit !important;
}
.sticky{
    border-color: inherit !important;
}

.font-size{
    font-size: 0.8em;
    text-align: justify;
}